#loader {

    
    width: 1900px;
    height: 1900px;
    position: fixed;
    background-color: #ffff ;
    top: 50%;
    left: 50%;
    transform: 
    translate(-50%, -50%);
    z-index: 999;
    transition: all .25s;
    
}

#loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


